*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --rood: rgb(219, 124, 124);
    --geel:rgb(255, 246, 140);
    --groen: rgb(171, 232, 171);
    --blauw: rgb(107, 206, 233);
    --achtergrondZwart: #1c1c1c;
    --letersZwart: rgb(0, 0, 0); 
}

body{
    background-image: url("../img/PossibleM2BoBackground2.png");
    background-color: var(--achtergrondZwart);
}

.translate{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    gap: 5px;
}

.translate > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.translate > ul > .dutch{
    width: 100px;
    height: 20px;
    background: var(--geel);
    border-radius: 25px;
}

.translate > ul > .dutch > img{
    width: 12px;
    height: 10px;
}

.translate > ul > .dutch > img:hover{
    transform: none;
}

.translate > ul > .english{
    width: 100px;
    height: 20px;
    background: var(--geel);
    border-radius: 25px;
}

.translate > ul > .english > img{
    width: 12px;
    height: 10px;
}

.translate > ul > .english > img:hover{
    transform: none;
}

header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--letersZwart);
}

nav{
    width: 60vw;
    height: 100%;
}

img{
    width: 700px;
    border-radius: 10px;
    transition: 0.2s transform;
    background-color: #302f2f;
}

.introImg{
    width: 700px;
    margin: 0 auto;
}

figcaption{
    font-size: 80%;
    font-style: italic;
    margin: 40px;
}

footer{
    width: 90vw;
    background: var(--achtergrondZwart);
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap:20px;
}

header > img{
    width: 150px;;
    height: 100%;
}

header > img:hover{
    transform: none;
}

nav > ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

nav > ul > li{
    color: var(--letersZwart);
    background: var(--rood);
    border-radius: 25px;
    width: 130px;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: var(--letersZwart);
}


img:hover{
    transform: scale(1.05);
}

footer > div{
    display: flex;
    border-radius: 25px;
    text-align: center;
    height: 200px;
    padding: 40px;
}

footer > div > h4{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer > .Contact, .Adres, .Socialmedia, .Openingstijden{
    display: flex;
    flex-wrap: wrap;  
    width: 60vw;
}

footer > .Contact, .Adres, .Socialmedia, .Openingstijden > p{
    display: flex;
    align-items: center;
}

footer > div > figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

footer > div > p > a{
    color: var(--letersZwart);
    display: block;
}

.button{
    background: var(--rood);
    border-radius: 25px;
    width: 50px;
    height: 36px;
}

.buttons{
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 60px;
}

.buttons > ul{
    display: flex;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.buttons > ul > li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > ul > li > a{
    width: 200px;
    height: 100%;
    display: block;
    text-align: center;
    color: var(--letersZwart);
    line-height: 60px;
    background: violet;
    border-radius: 75px;
}

.titel{
    background: var(--groen);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.intro{
    background: var(--blauw);
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 700px;
}

.intro > p{
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.slide{
    width: 700px;
    height: 300px;
    border-radius: 5px;
    background-size:cover;
    animation-name: fotoslider;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    margin: 0 auto;
    margin-bottom: 40px;
    
}

@keyframes fotoslider{
    0%{
        opacity: 0;
        background-image: url("../img/slideshow1.jpg");
    }
    10%{
        opacity: 1;
        background-image: url("../img/slideshow1.jpg");
    }
    19%{
        opacity: 0;
        background-image: url("../img/slideshow1.jpg");
    }
    20%{
        opacity: 0;
        background-image: url("../img/slideshow2.jpg");
    }
    30%{
        opacity: 1;
        background-image: url("../img/slideshow2.jpg");
    }
    39%{
        opacity: 0;
        background-image: url("../img/slideshow2.jpg");
    }

    40%{
        opacity: 0;
        background-image: url("../img/slideshow3.jpg");
    }
    50%{
        opacity: 1;
        background-image: url("../img/slideshow3.jpg");
    }
    59%{
        opacity: 0;
        background-image: url("../img/slideshow3.jpg");
    }
    60%{
        opacity: 0;
        background-image: url("../img/slideshow4.jpg");
    }
    70%{
        opacity: 1;
        background-image: url("../img/slideshow4.jpg");
    }
    79%{
        opacity: 0;
        background-image: url("../img/slideshow4.jpg");
    }
    80%{
        opacity: 1;
        background-image: url("../img/slideshow5.jpg");
    }
    90%{
        opacity: 1;
        background-image: url("../img/slideshow5.jpg");
    }
    99%{
        opacity: 0;
        background-image: url("../img/slideshow5.jpg");
    }
    100%{
        opacity: 0;
        background-image: url("../img/slideshow1.jpg");
    }
}

.reviews{
    width: 60vw;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 60px;;
}

.reviewsHead{
    background: var(--geel);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 700px;
}

.bruijn{
    height: 200px;
    width: 700px;
    margin: 0 auto;
    background: var(--rood);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.bijmholt{
    height: 170px;
    width: 700px;
    margin: 0 auto;
    background: var(--groen);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.pronk{
    height: 170px;
    width: 700px;
    margin: 0 auto;
    background: var(--blauw);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.box{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 100%;
}


.box > a > figure > img{
    height: 180px;
    width: 100px;
    object-fit: cover;
}

.box > a > figure > img:hover{
    transform: none;
}

.box--first{
    background: var(--geel);
}

.box--second{
    background: var(--rood);
}

.Contact{
    background:var(--geel);
}

.Contact > ul{
    margin: 0 auto;
}

.Adres{
    background: var(--rood);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Socialmedia{
    background: var(--groen);
    
}

.Socialmedia > figure{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
}

.Socialmedia > figure> a> img{
    width: 40px;
    height: 40px;
}

.Openingstijden{ 
    background: var(--blauw);
}

.Openingstijden > ul{
    margin: 0 auto;
}

.gameplayInfo > h2{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pAlgemeen{
    
    padding: 20px;
    border-radius: 25px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.h2Algemeen{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 20px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.p1{
    background: var(--blauw);
}

.p2{
    background: var(--rood);
}

.h2a{
    background: var(--groen);
}

.h2b{
    background: var(--geel);
}

.pAlgemeen > a{
    font-style: italic;
}

@media screen and (max-width: 1260px){
    
}

@media screen and(max-width: 1000px){
    
}